
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
 
    <div class='main-container'>
      <!--Mở đầu trang-->
      <div class='img'>
        <div class='flex-column-b'>
          <div class='name-input'>
            <div class='flex-row'>
              <span class='days'>DAYS</span>
              <span class='hours'>HOURS</span>
              <span class='minutes'>MINUTES</span>
              <span class='seconds'>SECONDS</span>
            </div>
            <div class="flex-row-fb">
                <div class="khung">
                  <span class="number-10" id="days">10</span> <!-- Days -->
                </div>
                <div class="khung-13">
                  <span class="number-15" id="hours">15</span> <!-- Hours -->
                </div>
                <div class="khung-14">
                  <span class="number-00" id="minutes">00</span> <!-- Minutes -->
                </div>
                <div class="khung-15">
                  <span class="number-08" id="seconds">08</span> <!-- Seconds -->
                </div>
              </div>                            
            <form class="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
              <div class="form-group">
                <input #fullNameInput type="text" id="full-name" name="full-name" class="rectangle-16" placeholder="Full Name" required />
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" class="rectangle-17" placeholder="Email" required />
              </div>
              
              <div class="form-group">
                <input type="tel" id="phone" name="phone" class="phone" placeholder="Phone" required />
              </div>
              
              <!-- Nút "SEND" là nút submit -->
              <button type="submit" class="label-send">
                <span class="dont-miss-out">SEND</span>
              </button>
            </form>            
            
          </div>
          <span class='flex-column'>
            Don’t Miss Out! <br />
            Grab Your Exclusive Offer Now!
          </span>
        </div>
        <div class='icicle-inspirations'>
          <span class='icicle-inspirations-text'>
            Icicle Inspirations: Crafting Winter in Clay
          </span>
          <span class='register-button'>
            "Step into a world where art meets winter at 'Icicle Inspirations'.
            This workshop invites you to unleash your creativity, using the
            elements of the season—frost, snow, and ice—to inspire stunning
            pottery creations that tell the story of winter's quiet beauty."
          </span>
          <button type="button" class="about-our-workshops" (click)="focusFullName()">
            <span class="line-18">REGISTER</span>
          </button>          
        </div>
      </div>
      <!--About our workshop-->
      <div class='img-icicle-inspirations'>
        <span class='spring-into-clay'>
          About <br />
          our workshops
        </span>
        <div class='frame-19'></div>
        <span class='summer-hues-in-bloom'>
          At Clayco, our workshops are where creativity meets craftsmanship,
          offering a hands-on experience that allows you to explore the art of
          pottery while connecting with nature. Over the past year, we’ve
          successfully hosted three seasonal workshops, each designed to capture
          the essence of its time of year and inspire our participants. <br />
          <br />
          With more than 200 pottery enthusiasts joining us so far, our
          workshops have sparked creativity and resulted in over 300 unique
          ceramic pieces. Whether you're a beginner or a seasoned potter, our
          workshops are tailored to guide you through every step of the process,
          from shaping the clay to adding the finishing touches. <br /> <br />
          Coming up this winter, we’re excited to present Icicle Inspirations:
          Crafting Winter in Clay. This special workshop will guide you through
          creating winter-themed ceramics, drawing inspiration from the beauty
          of frost and snow. Join us in capturing the magic of the season and
          transforming clay into something truly unique. <br /> <br />
          Sign up today to secure your spot and let your creativity shine!
        </span>
      </div>
      <!--Spring workshop-->
      <div class='explore-pottery-creation'>
        <div class='creative-relaxing-space'></div>
        <span class='vibrant-personalized-pottery'>
          Spring into Clay: <br />
          Pottery Workshop
        </span>
        <span class='attendees-learned'>
          "Spring into Clay: Pottery Workshop" hosted by Clayco was a delightful
          event where participants got hands-on experience crafting pottery
          inspired by the freshness of spring. Attendees explored various
          pottery techniques, from shaping clay to decorating their pieces with
          vibrant floral and seasonal motifs. The workshop provided a perfect
          blend of creativity and relaxation, allowing everyone to express their
          artistic side while enjoying a welcoming and fun atmosphere. It was a
          wonderful opportunity for both beginners and experienced potters to
          create unique spring-inspired masterpieces!
        </span>
      </div>
      <!--Summer workshop-->
      <div class='cozy-environment'>
        <span class='summer-hues-in-bloom-workshop'>
          "Summer Hues in Bloom"
        </span>
        <div class='flex-row-c-1a'></div>
        <div class='flex-row-1b'>
          <span class='leaf'>
            Summer Hues in Bloom #1
          </span>
          <span class='frame-1c'>
             Summer Hues in Bloom #2
          </span>
          <span class='leaf-1d'>
            Summer Hues in Bloom #3
          </span>
        </div>
        <div class='summer-hues-in-bloom-text'>
          <span class='text-24'>
            Attendees learned how to mold clay, form unique shapes, and add
            personal decorative touches, transforming each piece into a
            one-of-a-kind work of art.
          </span>
          <span class='text-25'>
            The cozy environment encouraged relaxation and creativity, allowing
            everyone to fully focus on their craft while connecting with others.
            It was a memorable experience that brought together people with a
            shared passion for art.
          </span>
          <span class='text-26'>
            By the end of the workshop, everyone proudly took home their own
            vibrant creations, each reflecting the lively energy of summer.
            Participants left with not only beautiful ceramic pieces but also a
            sense of accomplishment and joy from the creative process.
          </span>
        </div>
        <span class='text-27'>
          The "Summer Hues in Bloom" workshop recently transformed our cozy
          indoor studio into a vibrant haven of creativity, where participants
          embarked on an artistic adventure inspired by the lively colors of
          summer. Guided by skilled artisans, attendees didn't just learn the
          basics of pottery-making—they infused their own personality and flair
          into each piece, shaping and decorating clay with bold hues and
          intricate patterns that echoed the energy of the season.The studio,
          bathed in natural light and filled with artistic touches, created the
          perfect atmosphere for focused creativity and relaxation. Laughter and
          inspiration flowed as participants molded clay on the wheel, letting
          their imaginations bloom with every stroke of color.By the end of
          the workshop, everyone walked away with a truly one-of-a-kind pottery
          creation—each piece a vibrant reflection of summer’s beauty. More than
          just a workshop, "Summer Hues in Bloom" was a joyful escape, where
          creativity thrived, connections blossomed, and summer’s colorful
          spirit came to life in every corner of the studio.
        </span>
        <div class='box-b'>
          <div class='pic-d'></div>
          <div class='wrapper-6'>
            <div class='img-7'></div>
            <span class='text-28'>"Summer Hues in Bloom"</span>
            <div class='img-8'></div>
            <div class='flex-row-f'>
              <div class='n'></div>
              <div class='n-1e'></div>
              <div class='n-1f'></div>
            </div>
            <div class='flex-row-b'>
              <span class='attendees-learned-pottery-making'>
                Attendees learned how to mold clay, form unique shapes, and add
                personal decorative touches, transforming each piece into a
                one-of-a-kind work of art.
              </span>
              <span class='cozy-environment-creativity'>
                The cozy environment encouraged relaxation and creativity,
                allowing everyone to fully focus on their craft while connecting
                with others. It was a memorable experience that brought together
                people with a shared passion for art.
              </span>
              <span class='proudly-took-home-creations'>
                By the end of the workshop, everyone proudly took home their own
                vibrant creations, each reflecting the lively energy of summer.
                Participants left with not only beautiful ceramic pieces but
                also a sense of accomplishment and joy from the creative
                process.
              </span>
            </div>
            <span class='summer-hues-in-bloom-23'>
              The "Summer Hues in Bloom" workshop recently transformed our cozy
              indoor studio into a vibrant haven of creativity, where
              participants embarked on an artistic adventure inspired by the
              lively colors of summer. Guided by skilled artisans, attendees
              didn't just learn the basics of pottery-making—they infused their
              own personality and flair into each piece, shaping and decorating
              clay with bold hues and intricate patterns that echoed the energy
              of the season.The studio, bathed in natural light and filled
              with artistic touches, created the perfect atmosphere for focused
              creativity and relaxation. Laughter and inspiration flowed as
              participants molded clay on the wheel, letting their imaginations
              bloom with every stroke of color.By the end of the workshop,
              everyone walked away with a truly one-of-a-kind pottery
              creation—each piece a vibrant reflection of summer’s beauty. More
              than just a workshop, "Summer Hues in Bloom" was a joyful escape,
              where creativity thrived, connections blossomed, and summer’s
              colorful spirit came to life in every corner of the studio.
            </span>
          </div>
        </div>
      </div>
      <div class='flex-row-ad'>
        <div class='n-24'></div>
        <span class='harvest-creations-pottery-autumn'>
          "Harvest Creations: <br />
          Pottery in Autumn"
        </span>
        <div class='rectangle-25'></div>
        <span class='harvest-creations-pottery-autumn-success'>
          "Harvest Creations: Pottery in Autumn" was a fantastic success, with
          over 50 participants coming together to celebrate the beauty of the
          fall season through pottery. Hosted by Clayco, the workshop provided a
          warm and creative space for attendees to craft their own
          autumn-inspired pieces. With vibrant autumn leaves, pumpkins, and
          harvest motifs guiding the designs, more than 70 unique pottery items
          were made—each one capturing the essence of the season. The energy and
          enthusiasm of the participants filled the room, making it not only a
          productive event but a memorable artistic experience for everyone
          involved.
        </span>
        <div class='rectangle-26'>
          <div class='n-27'></div>
          <span class='text-32'>70+</span>
          <span class='text-33'>50+</span>
          <span class='participants'>Participants</span>
          <span class='potteries'>Potteries</span>
        </div>
      </div>
      <div class='flower-pot'></div>
      <span class='recap-harvest-creations-pottery-autumn'>
        RECAP <br/> "Harvest Creations: Pottery in Autumn"
      </span>
      <div class='flex-row-ec'>
        <div class='n-28'></div>
        <div class='n-29'></div>
        <div class='n-2a'></div>
      </div>
      <div class='flex-row-fa'>
        <span class='recap-1'>#Recap 1</span>
        <span class='recap-2'>#Recap 2</span>
        <span class='recap-3'>#Recap 3</span>
      </div>
      <div class='draaischijven-scaled'>
        <div class='flex-row-cef'>
          <div class='rectangle-2b'></div>
          <div class='rectangle-2c'>
            <span class='winter-workshop'>
              WARM UP YOUR WINTER WITH OUR WORKSHOP -
            </span>
            <span class='register-now-save-big'>
              REGISTER NOW AND SAVE BIG!
            </span>
          </div>
          <span class='off-50-percent'>OFF 50%</span>
        </div>
        <span class='icicle-inspirations-winter-crafting'>
          Icicle Inspirations: Crafting Winter in Clay
        </span>
        <button type="button" class="button-2d" (click)="scrollToForm()">
          <span class="register-now">REGISTER NOW</span>
        </button>        
      </div>
      <!--Thông tin workshop mùa đông-->
      <div class='frame-2e'>
        <div class='workshop-lam-gom'></div>
        <span class='icicle-inspirations-winter-crafting-2f'>
          INCICLE INSPIRATIONS:CRAFTING WINTER IN CLAY
        </span>
        <span class='workshop-description'>
          “This workshop invites you to unleash your creativity, drawing
          inspiration from frost, snow, and ice to craft beautiful pottery that
          reflects the quiet beauty of winter."
        </span>
        <div class='location'></div>
        <div class='location-30'></div>
        <span class='venue'>Venue</span>
        <span class='date-time'>Date&Time</span>
        <span class='location-address'>
          669 National Highway 1, Quarter 6, Linh Xuan Ward, Thu Duc, Ho Chi
          Minh City.
        </span>
        <span class='date-time-details'>
          8:00 AM to 21:30 PMDecember 8, 2024.
        </span>
        <div class='location-31'></div>
        <div class='location-32'></div>
        <span class='activities'>Activities</span>
        <span class='participants-number'>Number of participants</span>
        <span class='participants-range'>From 60 to 80 participants.</span>
        <span class='activities-list'>
          - Basic Pottery Guidance.- Shaping and Decorating.- Painting and
          Glazing.- Photo Session with Your Creations.
        </span>
      </div>
      <span class='review'>REVIEW</span>
      <span class='testimonials'>
        "The Most Authentic Testimonials About Clayco’s Workshops"
      </span>
      <div class='flex-row-dc'>
        <div class='rectangle-55'>
          <span class='testimonial'>
            "Clayco’s workshop was an amazing experience! I had never worked
            with clay before, but the instructors made everything so fun and
            easy to follow. I walked away with a beautiful piece of pottery and
            a new hobby!"
          </span>
        </div>
        <div class='testimonial-56'>
          <span class='testimonial-57'>
            "Clayco’s workshop was an amazing experience! I had never worked
            with clay before, but the instructors made everything so fun and
            easy to follow. I walked away with a beautiful piece of pottery and
            a new hobby!"
          </span>
        </div>
        <div class='inverted-commas'>
          <span class='inverted-commas-58'>
            "Clayco’s workshop was an amazing experience! I had never worked
            with clay before, but the instructors made everything so fun and
            easy to follow. I walked away with a beautiful piece of pottery and
            a new hobby!"
          </span>
        </div>
      </div>
      <div class='_n-5a'>
        <div class='_n-5b'></div>
        <div class='name'></div>
        <div class='name-5c'></div>
        <span class='name-5d'>Nguyen Van A</span>
        <span class='name-5e'>Katy Perry</span>
        <span class='name-5f'>Taylor Swift</span>
        <span class='workshop-tag'>
          #Spring into Clay: Pottery Workshop
        </span>
        <span class='workshop-tag-60'>#Summer Hues in Bloom</span>
        <span class='workshop-tag-61'>
          #Harvest Creations: Pottery in Autumn
        </span>
      </div>
    </div>


