<div class="wrapper">
    <!-- Navigation Bar -->
    <div class="category-navigation" style="color:white">
      <strong>PRODUCTS</strong>
      <hr>
      <a (click)="selectCategory('')">Customizable products</a>
      <div class="checklist categories" *ngFor="let category of filteredCategories">
        <ul>
          <li>
            <a (click)="selectCategory(category.Name)">{{category.Name}}</a>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Product Section -->
    <div class="product-section">
      <p style="font-weight: bold; font-size: 30px; color: black; text-align: center;"> Products {{selectedCategory.toUpperCase()}}</p>
      <div class="danhmucproduct">
        <div class="product" *ngFor="let cosmetic of filterCosmetics()">
          <div class="product-item">
            <div (click)="viewCosmeticDetail(cosmetic)">
              <div class="product-item--img">
                <img src="{{ cosmetic.Image }}" style="width: 180px;">
              </div>
              <p class="product-item--info">{{ cosmetic.Name }}</p>
              <p class="product-item--price">{{ cosmetic.Price }} $</p>
            </div>
            <button class="product-item--add" (click)="goToProductDetail()">Customize</button>
          </div>
        </div>
      </div>
    </div>
  </div>